<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.custUser.mapper.TCustUserMapper">
    
    <resultMap type="TCustUser" id="TCustUserResult">
        <result property="userId"    column="user_id"    />
        <result property="phone"    column="phone"    />
        <result property="password"    column="password"    />
        <result property="nickName"    column="nick_name"    />
        <result property="status"    column="status"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTCustUserVo">
        select user_id, phone, password, nick_name, status, is_deleted, create_time, update_time from t_user
    </sql>

    <select id="selectTCustUserList" parameterType="TCustUser" resultMap="TCustUserResult">
        <include refid="selectTCustUserVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTCustUserByUserId" parameterType="Long" resultMap="TCustUserResult">
        <include refid="selectTCustUserVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertTCustUser" parameterType="TCustUser" useGeneratedKeys="true" keyProperty="userId">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null and phone != ''">phone,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="nickName != null and nickName != ''">nick_name,</if>
            <if test="status != null">status,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="nickName != null and nickName != ''">#{nickName},</if>
            <if test="status != null">#{status},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTCustUser" parameterType="TCustUser">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteTCustUserByUserId" parameterType="Long">
        delete from t_user where user_id = #{userId}
    </delete>

    <delete id="deleteTCustUserByUserIds" parameterType="String">
        delete from t_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>